.form-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    margin-left: 5px;
  }
  
  button {
    padding: 8px 12px;
    background-color: white;
    color: #0065a4;
    border: none;
    cursor: pointer;
  }